<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303062517647-48gpf9td4omkrj8fbeh9ijk1il1a5u5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303062517647-48gpf9td4omkrj8fbeh9ijk1il1a5u5q</string>
	<key>API_KEY</key>
	<string>AIzaSyCoZ9z07NXx3_16k2MaZZEvpfBVXvie43c</string>
	<key>GCM_SENDER_ID</key>
	<string>303062517647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elisson.aguiasdosul</string>
	<key>PROJECT_ID</key>
	<string>aguiasdosul-2020</string>
	<key>STORAGE_BUCKET</key>
	<string>aguiasdosul-2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303062517647:ios:57e50ccac8032c23ab6dfa</string>
	<key>DATABASE_URL</key>
	<string>https://aguiasdosul-2020.firebaseio.com</string>
</dict>
</plist>